* {
    font-family: sans-serif;
}
.container {
  width: 75%;
  margin: 0 auto;
}
h1 {
  font-size: 36px;
}
p {
  font-size: 28px;
  line-height: 1.5em;
}

ul li {
  line-height: 1.5em;
  font-size: 28px;
}
a {
  color: black;
}
