$base-color: #2b303b;

.container {
  font-family: sans-serif;
  margin: 40px auto;
  max-width: 650px;
  font-size: 18px;
  padding: 0 10px;
  line-height: 1.6;
  color: $base-color;
}

h1 {
  font-size: 30px;
}

a {
  color:$base-color;
}

a:hover {
  //background-color: #5c4fbd;
}

code {
  font-family: "Cascadia Code", "Fira Code", monospace;
  background-color: #eee;
}

span {
  background-color: #2b303b;
}
